Pandas Data Type

(1) Series
(2) Data Frame

In [ ]:
import numpy as np
import matplotlib
import pandas as pd

Series 형식

1차원 배열과 유사.
색인(index)를 가지고 접근할 수 있음.

In [ ]:
import pandas as pd
pd.Series([7,3,5,8])

0    7
1    3
2    5
3    8
dtype: int64

In [ ]:
import pandas as pd
pd.Series([7,3,5,8], index=['서울', '대구', '부산', '광주'])

서울     7
대구     3
부산     5
광주
    8
dtype: int64

In [ ]:
import pandas as pd
x = pd.Series([7,3,5,8], index=['서울', '대구', '부산', '광주'])
print(x)

서울     7
대구     3
부산     5
광주    8
dtype: int64

x[]
#[] 안에 들어가는 건 하나의 값이거나, 범위

In [ ]:
x[1:3] #1:4 --> 1, 2, 3
x[['서울', '부산']] #리스트 형태로 '서울'을 가져오는 것. 그래서 값만 출력이 됌
#['서울', '부산'] --> 서울이랑 부산 출력

서울    7
부산    5
dtype: int64

index와 value 값

In [ ]:
print(x.index)
print(x.values)

Index(['서울', '대구', '부산', '광주'], dtype='object')
[7 3 5 8]

In [ ]:
sorted(x.index) #ㄱ~ㅎ 순서
sorted(x.values) #작은 수 ~ 큰 수 순서

In [ ]:
# reindex() --> series 전체를 위의 값에 따라 다시 정열
x = .reindex(sorted(x.index))
print(x)

In [ ]:
x = x.reindex(sorted(x.values))
print(x)
#value로 정열 할 수 없음. NaN = 값이 없다
#Nan 으로 나오면 data type이 float로 바뀜

3   NaN
5   NaN
7   NaN
8   NaN
dtype: float64

In [ ]:
x = pd.Series([3,8,5,9], index=['서울', '대구', '부산', '광주'])
y = pd.Series([2,3,5,1], index=['대구', '부산', '서울', '대전'])
x+y
#공통된 index가 있어야 +이 되고 안겹칠 경우 NaN으로 값이 없다고 뜸

In [ ]:
medal = [1,2,3,4,2,3]
x = pd.Series(medal)
print(pd.unique(x))

[1 2 3 4]

In [ ]:
#딕셔너리 형태를 Series로 변환
age = {'민준' : 23, '현우' : 43, '서연' : 12, '동현' : 45}
x = pd.Series(age)
x

민준    23
현우    43
서연    12
동현    45
dtype: int64

In [ ]:
names = ['문준', '서연', '현우', '민서', '동현', '수빈']
pdata = pd.Series(names)
print(pdata)

0    문준
1    서연
2    현우
3    민서
4    동현
5    수빈
dtype: object

In [ ]:
a = pdata[3:6]
print(a.values)
#print(a)

['민서' '동현' '수빈']

In [ ]:
#a는 index 넘버까지 slice를 하기 때문에
#a에는 2라는 인덱스가 없음. 에러뜸
print(a[2])

Data Frame

크거나 복잡한 데이타 정리에 탁월

In [ ]:
data = {'age': [23,43,12,45],
    'name': ['민준', '현우', '서연', '동현'],
    'height': [175.3, 180.3, 165.8, 172.7]}

x = pd.DataFrame(data, columns=['name', 'age', 'height'])

In [ ]:
ary = [[1,2], [3,4], [5,6]]
data = pd.DataFrame(ary, columns=['first', 'second'])
data

   first  second
0      1       2
1      3       4
2      5       6

In [ ]:
data.iloc[1] #1번 index만 출력
#수직으로 호출
#data.iloc[:,-1] --> 처음부터 끝까지 다 출력

0    2
1    4
2    6
Name: second, dtype: int64

In [1]:
ary = [[1,2], [3,4], [5,6], [7,8], [9,10], [11,12]]
data = pd.DataFrame(ary, columns=['first', 'second'])
data.head(3)

NameError: name 'pd' is not defined

In [ ]:
data.tail(3)

In [2]:
import pandas as pd
import numpy as np
ary = [[1,2], [3,4], [5,6], [7,8], [9,10]]
data = pd.DataFrame(ary, columns=['수온', '상온'])
data

   수온  상온
0   1   2
1   3   4
2   5   6
3   7   8
4   9  10

In [3]:
data['수온'] = data['수온'].astype('float')
print(data)

    수온  상온
0  1.0   2
1  3.0   4
2  5.0   6
3  7.0   8
4  9.0  10

In [6]:
import pandas as pd
news = pd.read_csv('./Data Collection (Scraping)/news_result.csv')
news.head()

,news_title,news_link
0,[지금은 과학] 출생 성비균형 이루는 RNA 찾았다,http://www.inews24.com/view/1374618
1,"딥노이드, 고용노동부 주최 소프트웨어 인재 양성 대책 마련 간담회 참여",http://www.cstimes.com/news/articleView.html?i...
2,"지스트, 출생 성비 균형을 조절하는 RNA발견",http://www.sisamagazine.co.kr/news/articleView...
3,광주인공지능사관학교 최종합격자 발표,http://www.breaknews.com/811615
4,"서원대, 2021.서원코딩페스티벌 진행",http://www.breaknews.com/811997

In [7]:
import pandas as pd
data = pd.read_csv('./한국환경공단_도로 재비산먼지 측정 정보_20210531.csv', encoding='cp949')
data.head() 

#한국어는 주로 utf-8 아니면 cp949

,측정일자,측정시간,지역,지역명,도로명,시작점,종점,기온 (℃),습도 (%),재비산먼지 평균농도(㎍/㎥),오염범례
0,05-03,10:03,서울,구로구,부일로,서울특별시 구로구 궁동 197-10,서울특별시 구로구 온수동 56,15,51,20,매우좋음
1,05-03,10:19,서울,구로구,서해안로,서울특별시 구로구 항동 211-12,서울특별시 구로구 개봉동 247-23,16,48,17,매우좋음
2,05-03,10:47,서울,구로구,중앙로,서울특별시 구로구 고척동 69-9,서울특별시 구로구 고척동 1-15,17,42,15,매우좋음
3,05-03,10:54,서울,구로구,고척로,서울특별시 구로구 고척동 186-4,서울특별시 구로구 오류동 6-41,17,43,17,매우좋음
4,05-03,11:16,서울,구로구,오리로,서울특별시 구로구 궁동 5,서울특별시 구로구 천왕동 3-8,18,41,17,매우좋음